* {
  margin: 0;
  padding-left: 5px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 180px;
  padding-top: 90px; 
  background-color: rgb(250, 235, 230);
  position:relative;
  width:100vw;
  height:20vw;
  left: calc(-40px);
  right: calc(-50px);
  top: calc(-50px);
  padding-left:40px;
  border-bottom: 8px solid #FFC107;
  flex-wrap:wrap;
  margin:0;
  
   
}

header h1 {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  padding-top:30px;
  line-height:1.2px;
}

header h2 {
  font-size: 25px;
  font-weight: normal;
  padding-top: 10px;
}

header p {
  font-size: 1rem;
  color: black;
}
.right-section p {
  line-height: 1.2; 
}

.right-section {
  text-align: left;
  padding-right: 80px;
  line-height:0.9;
  font-size:16px;
  padding-top:20px;
  margin-left: auto;
}

.right-section a {
  color: #0073e6;
}

section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items:flex-start;
 
}

.section-title {
  flex-basis: 25%;
  margin-top: 0;
  padding-top: 0;
  white-space: nowrap;
  font-style: italic;
  padding: 10px 0;
  margin-bottom: 5px;
  font-size: 1.2rem;
  
  
}
.section-title h3 {
  font-size: 1.3rem; 
  align-self:top;
 
}
.profile {
  margin-top: 0px; 
  padding-top: 0px;
}

.section-content {
  flex-basis: 75%;
  text-align: left;
  margin-bottom: 10px;
  margin-top:0px;
  padding-left:5px;
  align-self:top;
 
}
.skills-list {
  padding-top: 5px;  
  padding-bottom: 5px; 
}
ul.skills-list {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-right: 200px;
  width: 75%;
  font-size: 19px;
  margin-bottom: 0px;
  padding-bottom:0px;
}

.skills-list li {
  flex-basis: 30%;
  padding-right: 20px;
  padding-bottom: 5px;
  text-align: left;
  display: inline-block;
  width: 20%;
  margin-bottom: 5px;  
  padding-left: 15px; 
  line-height: 1.6; 
}
.skills p {
  line-height: 1.2;
}
.work-experience p{
  line-height: 1.5;
  margin-bottom: 0px; 
  padding-left:3px;
  padding-bottom:0px;
}
.work-experience h3{
  line-height:1.1;
  padding-bottom: 10px;
  
 
}
.job {
  margin-bottom: 30px; 
}

h2, h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top:2px;
  margin-bottom:1;
  
}

.work-experience {
  border-top: 2px solid  rgb(190, 188, 188);
  padding: 20px 3px 0px 3px;
}
.skills {
  border-top: 2px solid  rgb(190, 188, 188);
  padding-top:15px;
}
.education {
  border-top: 2px solid rgb(190, 188, 188);
  padding-top: 15px;
  padding-bottom: 0px;
  padding-left:3px;
}
.education-item h3 {
  margin-bottom: 10px; 
  margin-top:10px;

  
}

.education-item p {
  margin-bottom: 1px; 
  line-height: 1.3; 
  padding-left:3px;
}

.education-item {
  margin-bottom: 30px;  
  line-height: 1.4;
}



p {
  font-size: 1.1rem;
  line-height: 1.4;
  margin-top: 5px;
 
}
